.course-detail-container {
    margin-left: 220px; 
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 20px;
    border-radius: 5px;
}

.course-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #325aef;
    text-align: center;
}

.course-index h2 {
    font-size: 24px;
    color: #325aef;
    margin-bottom: 10px;
}

.course-index ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.course-index ul li {
    margin: 5px 0;
}

.course-price h2 {
    font-size: 24px;
    color: #c5168b;
    margin-top: 20px;
}

.course-price p {
    font-size: 20px;
    color: #c5168b;
}
.registration-form {
    margin-top: 40px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.registration-form h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.registration-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="tel"],
.registration-form input[type="email"],
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.registration-form input[type="submit"]:hover {
    background-color: #1a252f;
}

